body {
  font-family: "Karla";
}
.grecaptcha-badge {
  visibility: hidden;
}
.form-group > input,
.form-group > .btn,
.form-group > textarea {
  border-radius: 12px;
}
label {
  font-weight: bold;
}
.modal-header,
.modal-body {
  background: #272829 !important;
}
.modal-header {
  border-bottom: none;
  padding-bottom: 3px !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar-dark {
  /* From https://css.glass */
  background: rgba(9, 2, 2, 0.52);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
}
.card {
  background-color: #272829;
}
.card > img {
  cursor: zoom-in;
  border-radius: 24px;
  object-fit: cover;
  border-color: var(--accent) !important;
  border: transparent 3px;
  transition: opacity 0.2s ease, border 0.1s linear;
}

.card > img:hover {
  opacity: 0.6;
  border: double 3px;
}
@keyframes border-anim {
  from {
    border-color: transparent;
  }
  to {
    border-color: #ff0000;
  }
}

.navbar-brand:hover {
  background-color: #f5f7fe34;
  border-radius: 30%;
}
.nav-brand:active {
  transform: scale(0.9);
}
.add {
  transition: all 0.2s ease-in-out;
}

.add:hover {
  background-color: var(--secondary) !important;
  color: white !important;
}
#floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  border: none;
  background-color: #9dcbd8 !important;
  color: black;
  width: 75px;
  height: 75px !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in-out;
}

#floating-button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  #floating-button {
    bottom: 10px;
    right: 10px;
  }
  #bruh {
    padding-left: 0 !important;
  }
}
