<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link
  rel="icon"
  type="image/x-icon"
  href="https://ik.imagekit.io/9hpbqscxd/SG/image-3.jpg" />
<script src="https://www.google.com/recaptcha/api.js"></script>
<link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>

<style>
body {
    font-family: 'Karla';
}
  .grecaptcha-badge {
    visibility: hidden;
  }
  .form-group > input, .form-group > .btn, .form-group > textarea{
  border-radius: 12px
  }
  label {
  font-weight: bold;
  }
  .modal-header, .modal-body {
  background: #272829 !important;
  }
  .modal-header {
    border-bottom: none;
    padding-bottom: 3px !important;
  }
  .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-dark {
/* From https://css.glass */
background: rgba(9, 2, 2, 0.52);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <a class="navbar-brand" href="/"
    ><img
      src="https://ik.imagekit.io/9hpbqscxd/SG/image-3.jpg"
      width="46"
      height="46"
      alt=""
  /></a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a
        class="nav-link"
        style="
          background: #9dcbd8;
          color: black;
          border-radius: 34px;
          padding: 9px;
        "
        href="#"
        data-toggle="modal"
        data-target="#uploadModal">
        <strong>Add Image</strong>
      </a>
    </li>
  </ul>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    style="border: none !important">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse p-2" id="navbarSupportedContent">
    <form class="form-inline w-100">
      <!-- Add w-100 class to make the form fill the width -->
      <div class="input-group w-100">
        <div class="input-group-prepend">
          <span
            class="input-group-text pl-3 pr-0"
            style="
              background-color: var(--secondary);
              border: 2px solid var(--secondary) !important;
              border-radius: 34px 0px 0px 34px;
            ">
            <i class="fa fa-search text-white"></i>
            <!-- Assuming you're using Bootstrap icons (Bi) -->
            <!-- If not using Bootstrap icons, you can replace the above line with your preferred search icon code -->
          </span>
        </div>
        <input
          class="form-control rounded-pill"
          style="
            padding: 9px;
            border-radius: 0px 34px 34px 0px;
            border: 2px solid var(--secondary) !important;
          "
          type="search"
          value="<%= searchTerm ? searchTerm : '' %>"
          id="searchInput"
          placeholder="Search (∩˃ω˂∩)"
          autocomplete="off"
          aria-label="Search"
          onkeypress="handleKeyPress(event)" />
      </div>

      <script>
        function handleKeyPress(event) {
          // Mendapatkan nilai input
          const inputValue = document.getElementById("searchInput").value;

          // Menjalankan pencarian saat tombol "Enter" ditekan
          if (event.key === "Enter") {
            event.preventDefault();

            // Redirect ke URL pencarian
            window.location.href = `/search?term=${inputValue}`;
          }
        }
      </script>
    </form>
  </div>  
</nav>

<div
  class="modal fade"
  id="uploadModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="uploadModalLabel"
  aria-describedby="uploadModalBody">
  <div class="modal-dialog bg-transparent" style="border-radius: 12px 12px 0 0 !important;" role="document">
    <div class="modal-content shadow" style="background: none; border: none">
      <div class="modal-header"style="border-radius: 12px 12px 0 0!important;">
        <h5 class="modal-title" id="uploadModalLabel">Add Image ⸜(｡˃ ᵕ ˂ )⸝♡</h5>
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="uploadModalBody" style="border-radius: 0 0 12px 12px !important;">
        <form
          action="/"
          method="post"
          id="myForm"
          enctype="multipart/form-data">
          <div class="form-group">
            <label for="imageName">Title</label>
            <input
              type="text"
              class="form-control"
              id="imageName"
              name="nama"
              style="border: 2px solid var(--accent) !important"
              autocomplete="off"
              required />
          </div>
          <div class="form-group">
            <label for="imageDesc">Description</label>
            <textarea
              class="form-control"
              id="imageDesc"
              rows="3"
              style="border: 2px solid var(--accent) !important"
              name="desc"
              required></textarea>
          </div>
          <div class="form-group">
            <label for="imageFile" class="btn btn-secondary rounded-pill">Choose Image</label>
            <input
              style="display: none"
              type="file"
              class="form-control-file"
              id="imageFile"
              name="image"
              accept="image/*"
              required />
              <br />
            <label for="imageLink">Or Pasted From Image Link</label>
            <input
              type="text"
              class="form-control"
              id="imageLink"
              style="border: 2px solid var(--accent) !important"
              name="link"
              autocomplete="off" />
          </div>
          <button
            data-sitekey="6LfslRQoAAAAAHVBGwEVitjEQSjCD6F8unKDUdct"
            data-callback="onSubmit"
            name="g-recaptcha-response"
            id="postButton"
            data-action="submit"
            type="submit"
            class="btn g-recaptcha btn-primary">
            Upload
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function onSubmit(token) {
    // Handle form submission or any other action you want after reCAPTCHA is verified
    document.getElementById("myForm").submit();
  }
</script>
<style type="text/css" media="screen">
  .container-fluid {
    padding-left: 80px !important;
    padding-right: 80px !important;
    margin: 0px;
  }
  body {
    font-family: "Karla";
  }
  /* Custom styles for the Pinterest-style layout */
  :root {
    --text: #f5f7fe;
    --background: #060811;
    --primary: #cacdd8;
    --secondary: #3d4648;
    --accent: #67b86a;
  }
  .btn-primary:hover {
    background-color: var(--secondary) !important;
    border: 3px solid var(--accent) !important;
  }
  body,
  nav {
    background-color: var(--background);
  }
  .nav-brand {
    font-family: "Montserrat" !important;
  }
  input,
  textarea {
    background-color: var(--secondary) !important;
    color: var(--text) !important;
    border: 2px solid var(--secondary) !important;
  }
  .card {
    border: none;
  }
  .card,
  img {
    border-radius: 16px !important;
  }
  .card-img-top {
    border-radius: 12px 12px 0 0;
  }
  ::placeholder {
    color: var(--text) !important;
  }
  .card-columns {
    column-count: 5;
  }

  .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }
  .modal-header,
  .modal-footer,
  .modal-body {
    color: var(--text);
    background-color: var(--secondary);
  }
  .btn-primary {
    background-color: var(--accent);
    border: solid var(--accent);
    color: #11181a;
  }
  .btn-primary,
  .modal-dialog {
    border-radius: 30px;
  }
  @media (max-width: 1400px) {
    .card-columns {
      column-count: 4;
    }
  }
  @media (max-width: 991px) {
    .container-fluid {
      padding: 10px !important;
      padding-right: 25px !important;
      margin: 0px !important;
    }
    .card-columns {
      column-count: 3;
    }
    ::-webkit-scrollbar {
      width: 0px;
    }
  }

  @media (max-width: 767px) {
    .card-columns {
      column-count: 2;
    }
  }
  @media (max-width: 460px) {
    .card-columns {
      column-count: 1;
    }
  }
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    outline: 1px solid slategrey;
  }


</style>

